{%extends 'main/layout.html'%}
{%load static%}
{%block title%} Наши услуги {%endblock%}
{%block section%}
<section>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-lg-1">

      </div>
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="card">
              <a href="#"><img src="{%static 'main/img/motag.jpg'%}" class="card-img-top" alt="Монтаж и Демонтаж"></a>
              <div class="card-body">
                <h5 class="card-title">Монтаж и Демонтаж</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
                <!-- <a href="#" class="btn btn-primary">Купить</a> -->
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="card">
              <img src="{%static 'main/img/Balansirovka.jpg'%}" class="card-img-top" alt="Балансировка" >
              <div class="card-body">
                <h5 class="card-title">Балансировка</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="card">
              <img src="{%static 'main/img/chistka.jpg'%}" class="card-img-top" alt="Чистка Дисков">
              <div class="card-body">
                <h5 class="card-title">Чистка Дисков</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="card">
              <img src="{%static 'main/img/zaplatka.jpg'%}" class="card-img-top" alt="ремонт шин по протектору">
              <div class="card-body">
                <h5 class="card-title">Ремонт шин по протектору</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4">
            <div class="card">
              <img src="{%static 'main/img/porez.png'%}" class="card-img-top" alt="ремонт боковых порезов">
              <div class="card-body">
                <h5 class="card-title">Ремонт боковых порезов</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="card">
              <img src="{%static 'main/img/kamera.jpg'%}" class="card-img-top" alt="ремонт камер">
              <div class="card-body">
                <h5 class="card-title">Ремонт камер</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="card">
              <img src="{%static 'main/img/germetizaciajpg.jpg'%}" class="card-img-top" alt="Герметизация">
              <div class="card-body">
                <h5 class="card-title">Герметизация</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="card">
              <img src="{%static 'main/img/podkachka.jpg'%}" class="card-img-top" alt="Подкачка колес">
              <div class="card-body">
                <h5 class="card-title">Подкачка колес</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="card">
              <img src="{%static 'main/img/remont.jpg'%}" class="card-img-top" alt="Иные услуги">
              <div class="card-body">
                <h5 class="card-title">Иные услуги</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 text-center mt-4 carousel-innertext">
          <p>Звоните сейчас!</p>
        </div>
        <div class="col-lg-12 col-md-12 text-center">
          <a href="tel:+375295223322"><img class="call-anim" style="width: 40px;" src="{%static 'main/img/phone.png'%}" alt="..."></a>
        </div>
        <div class="col-lg-12 col-md-12 text-center mt-4 zapisbottom">
          <a href="online"><button type="button" class="btn btn-outline-primary btn-lg my-4 ">Записаться
              онлайн</button></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <div class="row px-2">
          <div class="col-lg-12 sidebar my-4">
            <p>СПУСТИЛО КОЛЕСО ИЛИ ТРЕБУЕТСЯ ПОМЕНЯТЬ ШИНЫ?
            </p>
          </div>
          <div class="col-lg-12 sidebar my-4">
            <p>МЫ ГОТОВЫ ПРИЕХАТЬ И ПОМОЧЬ ВАМ ПРЯМО СЕЙЧАС!</p>
          </div>
          <div class="col-lg-12 sidebar my-4">
            <p>ПРИБЫТИЕ В ТЕЧЕНИЕ 30 МИНУТ!
            </p>
          </div>
          <div class="col-lg-12 sidebar my-4">
            <p>ЛЮБАЯ ФОРМА ОПЛАТЫ!</p>
          </div>
          <div class="col-lg-12 sidebar my-4">
            <p>РЕШИМ ПРОБЛЕМУ НА МЕСТЕ!!</p>
          </div>
          <div class="col-lg-12 sidebar my-4">
            <p>ЭКОНОМИМ ВАШЕ ВРЕМЯ!</p>
          </div>
          
        </div>
      </div>
      <div class="row" style="padding: 4vw">
      </div>
</section>
{%endblock%}